<!DOCTYPE html>
<html>
<head>
    <title>Authorization form</title>
    <meta charset="utf-8" />
</head>
<body>
<h1>Authorization</h1>

<form id="form-auth" method="POST" action="/auth/confirm">
    <input type="text" name="login" />
    <input type="password" name="password" />
    <button type="submit"> ok </button>
</form>

</body>
<html>